# Entorno virtual
.venv/
venv/

# Datos grandes
data/
*.tif
*.tiff

# Resultados y modelos
runs/
outputs/
*.pt

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos personales de prueba
src/prueba.py
src/probar_manifest.py